uvicorn
fastapi
sqlalchemy
python-dotenv
passlib
langchain
langchain_community
pinecone
langchain_core
unstructured
langchain_groq
pydantic[email]
tensorflow
python-multipart
mysql-connector-python
bcrypt
numpy